*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ruda';
	text-decoration: none;
	list-style: none;
    overflow-x: hidden;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.logo{
    font-size: 28px;
    margin-right: 10%;
    color: white;
    width: 600px;
}
.navbar{
    display: flex;  
}
.navbar a{
    color: white;
    font-size: 24px;
    margin: 40px;
}
.navbar a:hover{
    color: #F2C94C;
    border-radius: 4px;
    font-size: 26px;
   
}
.active a {
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
}

.cont{
    height: 900px;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.1) 0.01%, rgba(0, 0, 0, 0.13) 13.02%, #000000 100%), url("../img/wood.png");
    background-size: cover;
}
.cont h1 {
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
    border-bottom: 3px solid #F2C94C; 
    width: 25%;
    margin-left: 38%;
    line-height: 60px;
    
}
.cont p{
    width: 800px;
    display: flex;
    color: #EA9D49;
    font-family: 'Schoolbell';
    text-align: center;
    font-size: 50px; 
    margin: 80px 360px;
    
}
.cont img{ 
    margin-left: 50px;
    margin-top: -80px;
}
.cont1 {
    height: 1900px ;
    background-color: #060606;
}
.pont{
    height: 1800px ;
    background-color: #060606; 
}
.pont1 {
    height: 1930px ;
    background-color: #060606;
}
.cont2{
    height: 900px;
    overflow: hidden;
    background-image: url("../img/wod.png");
    background-size: cover;
}
.cont2 img{
    margin-left: 50px;
    margin-top: -470px;
}
.cont2 h1{
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    border-bottom: 3px solid #F2C94C; 
    width: 25%;
    margin-left: 38%;
    line-height: 60px;
}

.icone{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-left: 20px

}
.icone a{
    overflow: hidden;   
}
.icone a img{
    height: 100px;
    width: 100px;
    margin: 20px ;
      
}
.foot{
    height: 70px;
    background-color: #000000;
}
.foot p {
    color: white;
    font-size: 24px; 
    text-align: center;
    margin-top: 20px;
    letter-spacing: 3px;
}
.text1{
    display: flex;
    justify-content: space-around;
    color: azure;
    margin-top: 100px;
    
}
.about{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about h1{
    width: 320px;
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    border-bottom: 3px solid #F2C94C; 
    line-height: 60px;
    
}
.about p{
    font-size:33px;
    line-height: 40px;
    margin-top: 25px;
    
}
.about a{
	background-color: transparent;
	padding: 23px;
	color:#F2C94C ;
	margin-top: 20px;
	cursor: pointer; 
    border:3px solid #F2C94C;  
    font-size: 15px;
    width: fit-content;

}
.menu h1{
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
    border-bottom: 3px solid #F2C94C; 
    width: 25%;
    margin-left: 38%;
    line-height: 60px;

}
.menu p{
    font-size:33px;
    line-height: 40px;
    margin-top: 50px;
    text-align: center;
    color: white;
    width: 70%;
    margin-left: 15%;
    letter-spacing: 1px;
}
.image{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 5%;
}
.but{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
	padding: 15px 22px;
	color:#F2C94C ;
	cursor: pointer; 
    border:3px solid #F2C94C;  
    font-size: 15px;
    margin-left: 35%;
    width: 30%;

}

.titre h1{
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    text-align: center;
    border-bottom: 3px solid #F2C94C; 
    width: 20%;
    margin-left: 12%;
    line-height: 60px;
    margin-top: 100px;
}
.text2{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: azure;
     margin-top: 30px;
}
.about2{
    width: 645px;
    height: 700px;
}
  
.about2 p{
    font-size:33px;
    line-height: 40px; 
}
.titre2 h1{
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    text-align: center;
    border-bottom: 3px solid #F2C94C; 
    width: 17%;
    margin-left: 40%;
    line-height: 60px;
    margin-top: 80px;
}
.text3{
    display: flex;
    justify-content: center;
    gap: 70px;
    color: azure;
    margin-top: 80px;
}
.about3{
    width: 500px;
    height: 600px;
    font-size:33px;
    line-height: 40px;
}
.image3 img{
    height: 560px;
}
.titre3 h1{
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    text-align: center;
    border-bottom: 3px solid #F2C94C; 
    width: 23%;
    margin-left: 38%;
    line-height: 60px;
    margin-top: 80px;
}
.cont1 h2{
    overflow: hidden;
    color: #F2C94C;
    font-family: 'Nothing You Could Do' ;
    font-size: 48px;
    text-align: center; 
    width: 15%;
    margin-left: 5%;
    margin-top: 80px;
}
.text4{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    color: azure;
    margin-top: 60px;
    margin-left: 80px;
}
.about4{
    width: 900px;
    height: 500px;
    font-size:33px;
    line-height: 80px; 
    letter-spacing: 2px;
}
.image4{
    margin-top: 60px;
}
.text5{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    color: azure;
    margin-top: 40px;
    margin-left: 60px;
}
.about5 img{
height: 390px;
margin-top: 20px;
margin-right:80px;
}
.about5 h1{
    overflow: hidden;
    color: #F2C94C;
    font-family: 'Nothing You Could Do' ;
    font-size: 48px;
    width: 50%;
    margin-top: 100px;    
}
.about5 p{
    width: 600px;
    height: 60px;
    font-size:33px;
    line-height: 60px; 
    letter-spacing: 2px;
    margin-top: 30px;
}
.titre4 h1{
    overflow: hidden;
    color: white;
    font-family: 'quintessential' ;
    font-size: 60px;
    text-align: center;
    border-bottom: 3px solid #F2C94C; 
    width: 25%;
    margin-left: 38%;
    line-height: 60px;
    margin-top: 80px;
}
.text6{
    width: 1100px;
    height: 400px;
    font-size:25px;
    line-height: 80px; 
    color: white;
    text-align: center;
    margin-left:13% ;
    letter-spacing: 2px;
    margin-top: 40px;   
}
.about6 form{
	width: 800px;
	font-size: 30px;
	margin-left: 350px;
	margin-top: 10px;
    font-family: 'Cambay';
    color: #F2C94C;
    letter-spacing: 3px;

}
.about6 input{
    font-size: 28px;
	width: 100%;
	display: inline-block;
	padding: 20px 150px 20px 30px;
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    background-color: #D9D9D9;
	border: none;
    outline: none;
	border-radius: 15px;
	resize: none;
    margin-bottom: 40px;
}
.about6 textarea{
	font-size: 28px;
	display: inline-block;
	width: 100%;
	padding: 20px 15px 20px 30px;
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    background-color: #D9D9D9;
    outline: none;
	border: none;
	border-radius: 15px;
	resize: none;
}
.about6 p{
    line-height: 70px;
}
.about6 input[type="submit"]{
	background-color: #F2C94C;
	padding: 3%;
	color: black;
	cursor: pointer;
    letter-spacing: 3px;
 }   
 .about6 input[type="submit"]:hover{
	transition: ease .40s;
	background-color: rgb(0, 0, 0);
    color: #F2C94C ;
	padding: 3%;
    font-size: 33px;
    border: 3px solid #F2C94C;
}
 .image7 img{
    height: 200px;
 }
 .image6{
    width: 300px;
    position: absolute;
    margin-left: 1150px;
 }
 .image6 img{
    height:340px;
 }